Create View
<br>
<%= simple_form_for @mountain do |f| %>
  <%= f.input :mountain %>
  <%= f.input :height %>
  <%= f.input :notes %>
  <%= f.input :planet %>
  <%= f.input :phone %>
  <%= f.input :record_added_by_email %>
<% end %>

<a href="/mountains">Show all Mountains</a>
