Create View
<br>

<%= simple_form_for @mountain do |f| %>
  <%= f.input :mountain %>
  <%= f.input :height %>
  <%= f.input :notes %>
  <%= f.input :planet %>
<% end %>

<a href="/mountains">Show all Mountains</a>
