Show 1 Record
<br>
<br>
ID      :<%= @user.id %><br>
First   :<%= @user.first_name %><br>
Last    :<%= @user.last_name %><br>
Email   :<%= @user.email %><br>
Age     :<%= @user.age %>
<br><br><br><br>

<tr>
  <td><%= link_to "Index of All Users", users_path %></td>
  <br>
  <td><%= link_to "Update User Record", edit_user_path %></td>
  <br>
  <td><%= link_to 'Delete Record', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>
